.NavigationBar {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-link {
  color: #337ab7;
  font-weight: bolder;
}

.navbar-link:focus {
  text-decoration: none;
}

.navbar-link.active {
  color: #A64CFF;
  font-weight: bold;
  font-size: 16px;
}

.navigation-bar-right .navbar-link {
  float: right;
  color: black;
}

.navbar-link-right:hover {
  text-decoration: none;
  opacity: 0.7;
}

.NavigationBar .githubLogo {
  height: 24px;
  width: 24px;
}

.find-me-on-github {
  padding-right: 8px;
}

.find-me-on-github-link:hover {
  opacity: 0.7;
}
